* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
}
.img_area_geolocation {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.container_btns_geolocation {
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8,
.btn9,
.btn10 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2%;
  height: 3.5%;
  z-index: 2;
}
.btn1 {
  top: 28%;
  left: 30%;
}
.btn2 {
  top: 41%;
  left: 36%;
}
.btn3 {
  top: 13%;
  left: 71%;
}
.btn4 {
  top: 27%;
  left: 60%;
}
.btn5 {
  top: 30%;
  left: 75%;
}
.btn6 {
  top: 40%;
  left: 56%;
}
.btn7 {
  top: 41%;
  left: 68%;
}
.btn8 {
  top: 43%;
  left: 82%;
}
.btn9 {
  top: 38%;
  left: 23%;
}
.btn10 {
  top: 41%;
  left: 58%;
}

.style_btn_blue {
  border: none;
  background-color: rgba(56, 119, 238, 1);
  opacity: 70%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.style_btn_green {
  border: none;
  background-color: rgba(106, 191, 75, 1);
  opacity: 70%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.opened_btn {
  border-radius: 50% 0% 0% 50%;
  opacity: 100%;
}

.hidden {
  display: none;
}

.infoHouse {
  position: absolute;

  left: 100%;
  color: aliceblue;
  min-width: 50px;
  height: 100%;
  font-size: 1.2vw;
  white-space: nowrap;
  border-radius: 0 100px 100px 0;
  padding: 0% 20% 0% 20%;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.label_position {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_plus {
  width: 40%;
}

.color_label_blue {
  background-color: rgba(56, 119, 238, 1);
}
.color_label_green {
  background-color: rgba(106, 191, 75, 1);
}
.rectangle {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 15, 32, 1);
  opacity: 40%;
  z-index: 1;
}
